body{
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
    background-color: rgb(97, 97, 97);
}
.menu-container{
    display: flex;
}
.titulo-cabecero{
    margin-left: 30px;
    padding: 0px;
    display: block;
    color: white;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
}
nav{
    margin-left: auto;
}
.menu{
    list-style: none;
    margin-right: 20px;
}
.menu__item{
    display: inline-block;
    margin: 0px 20px 0px 20px;
}
.menu__link{
    display: block;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.menu__link:hover{
    opacity: 70%;
}
.imagen-cabecera{
    width: 100%;
}

/*
Seccion noticias
*/
#news h2{
    border: solid;
    text-align: center;
    color: white;
    background-color:blue;
    padding: 15px;
}
.noticia-completa{
    width: 50%;
    min-height: 100%;
}

.imagen-noticia{

    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    margin-bottom: 5%;
}

.noticias-container{
    display: flex;
    width: 100%;
}

.texto-noticia{
    display: inline-block;
    width: 65%;  
    margin-left: 5px;
    color: white;
    margin-bottom: 0px;
    min-height: 100%;
}

.parrafo-noticias{
    display: block;
    width: fit-content;
    max-width: 100%;
    text-align: justify;
    
}

.link-noticias{
    border: solid;
    margin-left: auto;
    display: block;
    width: fit-content;
    font-size: 20px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
}

.link-noticias:hover{
    opacity: 30%;
}
/*
Seccion equipo
*/

.team-title{
    border: solid;
    text-align: center;
    color: white;
    background-color:blue;
    padding: 15px;
}
.team-container{
    display: flex;
}
.team-card{
    width: 20%;
}
.team-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 200px;
    border-radius: 100px;
}
.team-card h2{
    font-weight: bold;
    display: block;
    text-align: center;
    border-bottom: solid;
    margin: 10px;
    color: white;
}

.team-card p{
    display: block;
    color: white;
    text-align: justify;
    margin: 10px;
}
/*
FOOTER
*/
footer{
    display: flex;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    width: 100%;
    background: blue;
    border-top: solid;
    border-color: white;
}
.informacion{
    width: 50%;
}
.contacto{
    width: 50%;
    text-align: right;
}

footer h2{
    color: white;
    margin: 0px 20px 0px 20px;
    padding: 0px;
    text-decoration: underline;
}

footer h3{
    color: white;
    margin: 0px 20px 0px 20px;
    padding: 0px;
}
footer a{
    display: block;
    color: white;
    text-decoration: none;
}
footer a:hover{
    opacity: 50%;
}
